# die class

In [2]:
import pandas as pd
import numpy as np

In [3]:

        
class Die:

    '''
    Roll a weighted die.
    ---
    
    Methods:
    ---
    __init__: This is the initializer.
    The user must input a numpy array with faced for the die.
    
    change_weight: changes the weight of one face of the die.
        

    roll_die:   This rolls the die a given number of times.
                The results for roll_die will change as if the weights for the die are changed.
    
    
    get_current_state: prints a data frame with the sides of the die as an index and 
    the assigned weights for each side as the data.
 


    '''

    def __init__(self, N):
        '''
        This is the initializer. It sets up the die with a given number of sides and adds a weight of 1 for each side of the die.
        A private dataframe is also created. This dataframe has the sides of the die as an indez and the weights as the data in a column.

        ---
        inputs:
        N: N is the number of faces for a die.  
        N must be a NumPy array with unique values. 
        This method will return errors if those conditions are not met.
        '''
        if not isinstance (N, np.ndarray):
            raise TypeError("The N number of sides must be a NumPy array")
        if len(N) != len(np.unique(N)):
            raise ValueError("The faces must be unique values")
        else:
            self.faces = N
        weights = [1 for _ in range(len(self.faces))]
        self.__die_df = pd.DataFrame({            
            'side': [n for n in self.faces],
            'weights': weights
        })
        self.__die_df_index = self.__die_df.set_index(['side'])

    def change_weight(self, face, new_weight):
        '''
        This changes the weight of one specified side of the die.
        ---
        inputs:

        face:   The face from your die that you want to change the weight of.
                This must be in the initial NumPy array N.
                This method will throw an error if the face listed is not in the original numpy array N.

        new_weight: This is the new weight you are assigning to a side. 
                    This must be an integer or a float. 
                    An error will be returned if it does not meet those conditions.
        '''
        if face not in self.faces:
            raise IndexError("The face for which the weight is altered needs to be one of the existing faces")
        if not isinstance(new_weight,(float,int)):
            raise TypeError("The new weight must be a float or integer")
        else:
            self.__die_df_index.loc[face]= new_weight

    def roll_dice(self, nrolls=1):
        '''
        Roll_die calculates the probability for each side of the die from the assigned weights.
        It then takes a sample of the sides using the calculated probabilities, and prints the results of the rolls as a list.
        ---
        inputs:
        nrolls: This is set to one unless the user reassigns it. 
                Nrolls should be an integer.
        '''
        results = []
        die_probs = [i/sum(self.__die_df['weights']) for i in self.__die_df['weights']]
        for i in range(nrolls):
            result = self.__die_df.side.sample(weights=die_probs).values[0].tolist()
            results.append(result)
        print(results)
    
    def get_current_state(self):
        '''
        get_current_state prints a data frame with the sides of the die as an index and the assigned weights for each side as the data.
        ---
        inputs: none
        '''
        return self.__die_df_index

In [4]:
face1 = [1,2,3,4]
face2 = [1,2,3,4]
face1 = np.array(face1)
face2 = np.array(face2)
die1 = Die(face1)
die2 = Die(face2)

In [11]:
die1.change_weight(1,100)
die2.change_weight(2,100)
die1_1 = die1.get_current_state()
die1_1

      weights
side
1         100
2           1
3           1
4           1

In [12]:
die2_1 =die2.get_current_state()
die2_1

      weights
side
1           1
2         100
3           1
4           1

In [13]:
dielist = [die1_1,die2_1]

In [14]:
dielist

[      weights
 side
 1         100
 2           1
 3           1
 4           1,
       weights
 side
 1           1
 2         100
 3           1
 4           1]

In [15]:
die_probs = list(range(len(dielist)))
for x in range(0,len(dielist)):
    die_probs[x] = [i/sum(dielist[x]['weights']) for i in dielist[x]['weights']]

die_probs

[[0.970873786407767,
  0.009708737864077669,
  0.009708737864077669,
  0.009708737864077669],
 [0.009708737864077669,
  0.970873786407767,
  0.009708737864077669,
  0.009708737864077669]]

In [17]:
newlist= list(range(len(dielist)))
for y in range(len(dielist)):
    newlist[y] = pd.DataFrame({'side':dielist[y].index.tolist(),

                               'die_probs':die_probs[y]})
newlist

[   side  die_probs
 0     1   0.970874
 1     2   0.009709
 2     3   0.009709
 3     4   0.009709,
    side  die_probs
 0     1   0.009709
 1     2   0.970874
 2     3   0.009709
 3     4   0.009709]

In [7]:


test = newlist[1]


rolls = 5


results = []
for k in range(len(dielist)):

    for i in range(rolls):

        result = newlist[k].side.sample(weights=die_probs[k]).values[0].tolist()
        results.append(result)

results

NameError: name 'dielist' is not defined

1

In [155]:
rolls = 5

results= []
for k in range(len(dielist)):
    
    
    for i in range(rolls):

        result = test.side.sample(weights=die_probs[k]).values[0].tolist()
        results.append(result)

print(results)

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [18]:
rolls = 5

results=  list(range(len(dielist)))
for k in range(len(dielist)):
    test = newlist[k]
    results[k] = [test.side.sample(weights=die_probs[k]).values[0].tolist() for i in range(rolls)]

print(results)

[[1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [30]:



outcome = pd.DataFrame(columns = list(range(len(dielist))),
                       index= list(range(rolls)),
                       data = []
                       )
outcome

     0    1
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN

In [40]:
leng = len(outcome.columns)
leng

2

In [42]:
for col in range(leng):
    outcome[col] = results[col]
outcome.index.name = 'roll_number'
outcome

             0  1
roll_number
0            1  2
1            1  2
2            1  2
3            1  2
4            1  2

In [ ]:
r = pd.DataFrame({})

In [ ]:
book_list = pd.DataFrame({'book_name':[], 'book_rating':[]})
book_list = pd.concat([self.book_list, new_book], ignore_index=True)

In [46]:
class Game:
    def __init__(self, die_list):
        self.die_list = die_list
    
    def play (self, rolls):
        die_probs = list(range(len(self.die_list)))
        for x in range(0,len(self.die_list)):
            die_probs[x] = [i/sum(self.die_list[x]['weights']) for i in self.die_list[x]['weights']]

        newlist= list(range(len(self.die_list)))
        for y in range(len(self.die_list)):
            newlist[y] = pd.DataFrame({'side':self.die_list[y].index.tolist(),
                               'die_probs':die_probs[y]})   

        results=  list(range(len(dielist)))
        for k in range(len(dielist)):
            test = newlist[k]
            results[k] = [test.side.sample(weights=die_probs[k]).values[0].tolist() for i in range(rolls)]
    
        self.__outcome = pd.DataFrame(columns = list(range(len(dielist))),
                                index= list(range(rolls)),
                                data = []
                                 )
        length =  len(self.__outcome.columns)
        for col in range(length):
            self.__outcome[col] = results[col]
        self.__outcome.index.name = 'roll_number'

    def show_last_play (self):
        last_play = self.__outcome
        return last_play

In [47]:
game1 = Game(dielist)

In [48]:
game1.play(6)

In [49]:
game1.show_last_play()

             0  1
roll_number
0            1  3
1            1  2
2            1  2
3            1  2
4            1  2
5            2  2

In [ ]:
class Analyzer:
    def __init__:
        pass